.chatFeed {
  padding: 0 1vw 1vw 1vw;
}

.chatFeed table {
  border-collapse: collapse;
}

.chatTable {
}

.personaColumn {
  width: 5vw;
  min-width: 60px;
  max-width: 150px;
}

.gameColumn {
  width: 190px;
}

tr.chatMessageHidden {
  display:none;
}

tr.chatMessage td {
  background-color: #ffff99;
  background:linear-gradient(#eeffbb, #eeffdd);
  padding: 6px;
  border: solid 1px #003300;
}

.chatMessageBody {
  vertical-align: top;
  position: relative;
}

.chatMessageBody div:first-child {
  min-height: 75px;
}

.chatMessageTimestamp {
  font-size: small;
  position: absolute;
  right:0;
  bottom:0;
  text-align: right;
  margin-right:5px;
  margin-bottom: 5px;
}

.replyLink {
  float: right;
}

.replyLink img {
  width: 20px;
  height: 20px;
}

.chatMessagePersona {
  width: 8vw;
  max-width: 150px;
  vertical-align: top;
}

.chatMessagePersona div {
  width: 8vw;
  padding-bottom: 5px;
}

.chatMessagePersona div.personaName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chatMessagePersona img {
  width: 8vw;
  max-width: 100%;
}

.chatMessageGame {
  vertical-align: top;
}

.chatMessageGame img {
  width: 16vw;
  max-width: 184px;
}

@media only screen and (max-width: 800px) {
  .chatMessageGame {
    display: none;
  }
}

.chatMessageBody {
  width: 100%;
}

.bodyAchievement div {
  float: left;
  padding-right: 10px;
}

.bodyAchievement span.achievementName {
  font-weight: bold;
}

.bodyAchievement span.achievementDescription {
  font-style: italic;
}

table.chatMessageReplies {
  margin: 10px 0 0 10px;
}

td.replyPersona {
  vertical-align: top;
  min-width: 10vw;
  font-weight: bold;
  background: linear-gradient(#eeeeee, #dddddd)!important;
}

td.replyBody {
  background: linear-gradient(#ffffff, #eeeeee)!important;
  min-width: 30vw;
  position: relative;
}
