<html>

<head>
  <title>Europe Ian</title>
  <link rel="stylesheet" href="/bundle.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div id="app"><%- markup -%></div>
  <script src='/bundle.js'></script>
</body>

</html>
