a {
  text-decoration: none;
  font-weight: bold;
  color: #006600;
}

a:hover{
  color: #00cc00;
}

body {
  background-color: #004400;
}

.chatHeader {
  height: 44px;
  width: 100%;
}

.chatFilters {
  margin-top: 6px;
  float: left;
}

.chatFilters td {
  border: 2px;
  padding: 4px;
  height: 28px;
}

.filterTitle {
  background-color: #eeffdd;
  color: black;
}

.filterButtonShow {
  background-color: white;
  color: black;
}

.filterButtonHide {
  background-color: gray;
  color: black;
}

.dropdown {
  float: right;
}

.dropdownHeader {
  background-color: #ffff99;
  background:linear-gradient(#ffff99, #ffffbb);
  padding: 5px;
  min-height: 32px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.miniAvatar img {
  width: 32px;
  height: 32px;
}

.downArrow img {
  margin-top: 8px;
  width: 16px;
  height: 16px;
}

.dropdownHeader div {
  height: 32px;
  line-height: 32px;
  float: left;
  padding-right: 10px;
}

.dropdownContent {
  display:none;
  position: absolute;
  background-color: #ffff99;
  background:linear-gradient(#ffff99, #ffffbb);
  box-shadow: 0px 8px 16px 0px;
  padding: 10px;
  right: 0;
  margin-top: 10px;
  margin-right: 20px;
  z-index: 98;
}

.visiblePanel {
  display: block;
}

.loginPanel {
  height: 32px;
  line-height: 32px;
}

.loginPanel div {
  float: left;
}

.loginPanel div img {
  margin-left:5px;
  width: 32px;
  height: 32px;
}

.personaSelector {
  margin-left: auto;
  margin-right: auto;
}

.personaSelectorName {
  text-align: center;
}

.personaSelectorAvatar img {
  width: 80px;
  height: 80px;
}

.personaSelectorArrow img {
  width: 24px;
  height: 24px;
}

.chatFeed table {
  border-collapse: collapse;
}

.chatTable {
  width: 100%;
}

.personaColumn {
  width: 100px;
}

.gameColumn {
  width: 190px;
}

tr.chatMessageHidden {
  display:none;
}

tr.chatMessage td {
  background-color: #ffff99;
  background:linear-gradient(#eeffbb, #eeffdd);
  padding: 6px;
  border: solid 1px #003300;
}

.chatMessageBody {
  vertical-align: top;
  position: relative;
}

.chatMessageBody div:first-child {
  min-height: 75px;
}

.chatMessageTimestamp {
  font-size: small;
  position: absolute;
  right:0;
  bottom:0;
  text-align: right;
  margin-right:5px;
  margin-bottom: 5px;
}

.replyLink {
  float: right;
}

.replyLink img {
  width: 20px;
  height: 20px;
}

.chatMessagePersona {
  vertical-align: top;
}

.chatMessagePersona div {
  padding-bottom: 5px;
}

.chatMessagePersona img {
  height: 80px;
  width: 80px;
}

.chatMessageGame {
  vertical-align: top;
}

.chatMessageBody {
  width: 100%;
}

.bodyAchievement div {
  float: left;
  padding-right: 10px;
}

.bodyAchievement span.achievementName {
  font-weight: bold;
}

.bodyAchievement span.achievementDescription {
  font-style: italic;
}

table.chatMessageReplies {
  margin: 10px 0 0 10px;
}

td.replyPersona {
  vertical-align: top;
  min-width: 100px;
  font-weight: bold;
  background: linear-gradient(#eeeeee, #dddddd)!important;
}

td.replyBody {
  background: linear-gradient(#ffffff, #eeeeee)!important;
  min-width: 300px;
  position: relative;
}

div.postDialogWrapper {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

div.postDialog {
  position: fixed;
  top: 10vh;
  bottom: 10vh;
  left: 10vw;
  right: 10vw;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px;
  background-color: #ffff99;
  background:linear-gradient(#ffff99, #ffffbb);
  padding: 20px 20px 72px 20px;
}

div.postDialog textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

div.postDialog button {
  background-color: #009900;
  color: white;
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 32px;
}

.loginPage table {
  background-color: #eeffbb;
  padding: 10px;
}

button {
  border: none;
  padding: 8px 16px;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

.postMessageButton {
  height: 32px;
  margin-top: 6px;
  float: right;
  margin-right: 20px;
  background-color: #eeffbb;
  color: black;
}

/*# sourceMappingURL=bundle.css.map*/